@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

.delay-1000 {
  animation-delay: 1s;
}


@keyframes float {
  0% { transform: translateY(0); opacity: 0.5; }
  50% { transform: translateY(-20px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.5; }
}
.animate-float {
  animation: float linear infinite alternate;
}
@keyframes neonGlow {
  0% { text-shadow: 0 0 5px #0ff, 0 0 10px #0ff; }
  50% { text-shadow: 0 0 10px #0ff, 0 0 20px #0ff; }
  100% { text-shadow: 0 0 5px #0ff, 0 0 10px #0ff; }
}
.neon-text {
  animation: neonGlow 1.5s infinite alternate;
}
